# Ignore files within the working folder.
www

# Ignore phpstorm files.
.idea

# Ignore vagrant cache / local files.
.vagrant

# Ignore local Vagrantfile.
Vagrantfile

# Ignore local inventory file with network config.
ansible/inventories/dev

# Ignore ansible playbook retry file.
ansible/playbook.retry
